@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400;500;600&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body{
  font-family: 'Urbanist', sans-serif;
}

.container{
  max-width: 1170px;
  padding-left: 80px;
  padding-right: 80px;
  margin: auto;
}

section{
  padding: 50px;
}

.menu li{
  font-size: 18px;
}

.border-container {
  position: relative;
  display: inline-block;
  border-bottom: 1px solid transparent; /* Initially transparent */
  transition: border-color 0.3s ease; /* Transition for border color */
}

/* Pseudo-element for the expanding border */
.border-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #9584ec; /* Color of the expanding border */
  transition: width 0.3s ease; /* Transition for width */
}

/* Hover effect */
.border-container:hover::after {
  width: 100%; /* Expand width to 100% */
}

.portfolio-grid {
  display: flex;
  flex-wrap: wrap;
  /* Adjust grid styles as needed */
}

.portfolio-item {
  position: relative;
  width: 100%;
  /* Adjust item styles as needed */
}

.portfolio-image {
  position: relative;
  overflow: hidden;
}

.bg-image {
  width: 100%;
  height: auto;
  display: block;
  transition: filter 0.3s ease;
}

.portfolio-details {
  position: absolute;
  scroll-behavior: smooth;
  top: 50%;
  left: 50%;
  width: 100%;
  height:100%;
  max-height: 100%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  overflow-y: auto;
  opacity: 0;
  transition: opacity 0.3s, visibility 0s linear 0.3s;
}

.portfolio-item:hover .bg-image {
  filter: blur(5px); /* Apply blur effect on hover */
}

.portfolio-item:hover .portfolio-details {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

